target/*
.settings/*
.classpath
.project
.idea
*.iml
/target
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
.idea/**
/.idea/
documentation/~$2020-12-01_ClassDiagramSharingApp.pptx
